.signup-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.signup-container {
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 620px;
  text-align: center;
}

.signup-container h1 {
  color: #3B82F6;
  font-size: 2.5rem;
  font-weight: 700;
}

.signup-container p {
  margin-top: 5px;
  color: black;
  font-size: 1rem;
}

.signup-container span {
    color: #3B82F6;
}

.login-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-box label {
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.input-box input {
  background-color: #F3F3F3;
  border: 1px solid #ddd;
  padding: 12px 14px;
  border-radius: 8px;
  font-size: 15px;
  transition: border 0.3s ease;
}

.input-box input:focus {
  outline: none;
  border: 1px solid #3B82F6;
}

.input-box input::placeholder {
  color: #aaa;
}

.login-btn {
  background: #3B82F6;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.input-row {
  display: flex;
  gap: 20;
}

.input-row .input-box {
  flex: 1;
}

/* Tablet view */
@media (max-width: 768px) {
  .signup-container {
    width: 90%;
    padding: 30px 20px;
  }

  .signup-container h1 {
    font-size: 2rem;
  }

  .signup-container p {
    font-size: 0.95rem;
  }

  .login-btn {
    font-size: 0.95rem;
    padding: 10px;
  }

  .input-row {
    flex-direction: column;
    gap: 15px;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .signup-container {
    width: 100%;
    padding: 25px 15px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .signup-container h1 {
    font-size: 1.8rem;
  }

  .signup-container p {
    font-size: 0.9rem;
  }

  .input-box label {
    font-size: 0.9rem;
  }

  .input-box input {
    padding: 10px 12px;
    font-size: 14px;
  }

  .login-btn {
    font-size: 0.9rem;
    padding: 10px;
  }

  .input-row {
    flex-direction: column;
    gap: 15px;
  }
}